.form {
//  background-color: red; 
  height: 2rem;
  margin: 0 0 0.2rem 0;
//  width: 96%;
}

.input-wrapper {
  margin-right: 3rem;
}

.input-text {
  //   background-color: lighten($background, 80%);
  border: none;
  border-radius: 0;
  height: 2rem;
  font-size: 1.4rem; // padding: 0.3rem;
  float: left;
  width: 100%;
  -ms-box-sizing: border-box;
  /* ie8 */
  -khtml-box-sizing: border-box;
  /* konqueror */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  box-sizing: border-box;
  /* css3 rec */
}

.button-search {
  background-color: $off-red;
  border: none;
  color: white;
  font-size: 1.4rem;
  height: 2rem;
  width: 3rem;
  box-sizing: border-box;
}

.button-search:hover {
  background-color: darken($off-red, 5%);
  cursor: pointer;
}

.button-search:active {
  background-color: darken($off-red, 10%);
}


// Mobile style

@media (max-width: $small-screen) {
.form {
  width: 23rem;
}

.input-wrapper {
  margin-right: 2.4rem;
}

.input-text {
  border: none;
  height: 2rem;
  font-size: 1.2rem;
}

.button-search {
  background-color: $off-red;
  color: white;
  font-size: 1.2rem;
  border: none;
  height: 2rem;
  padding: 0;
  width: 2.4rem;
}
}