#app {}

.detail {
  align-content: center;
  align-items: center;
  background-color: $off-black;
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-family: "Lato", "Arial";
  font-size: 1.2rem;
  height: 100%;
  justify-content: center; // margin: 0 auto;
}

.detail-title {
  font-family: "Bangers";
  font-size: 4.5rem;
  color: $warm-yellow;
  margin: 1.4rem 1rem 0 1rem;
}

.detail-subtitle {
  font-size: 2.4rem;
  color: $white;
  margin: 1rem 0 1rem 0;
}

.detail-actors {
  color: lighten($dark-grey, 60%);
  font-size: 1.4rem;
}

.detail-poster {
  align-items: center;
  background-color: lighten($off-black, 3%);
  color: lighten($off-black, 30%);
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.detail-plot {
  color: lighten($dark-grey, 60%);
  //  font-family: 'Arial';
  margin: 1.4rem 0 1.4rem 0;
  text-align: center;
  width: 40em;
}

.detail-info {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1.2rem 0 3rem 0;
  width: 60rem;
}

.detail-info__tags {
  align-items: center;
  background-color: black;
  border: 1px solid lighten($off-black, 10%);
  border-radius: 0.8rem;
  color: white;
  display: flex;
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  padding: 0.2rem;
  height: 2.2rem;
  width: 10rem;
}

.detail-rating {
  color: $warm-yellow;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1rem 0 2rem 0;
}

///////////////////////////////////////////////
@media (max-width: 600px) {

  #app {
    width: 23rem;
  }

  .detail {
    font-size: 0.8rem;
    width: 23rem;
  }
  .detail-title {
    font-size: 2.6rem;
    margin: 0.6rem 0.4rem 0rem 0.4rem;
  }
  .detail-subtitle {
    font-size: 1.2rem;
    color: $white;
    margin: 0.2rem 0 0.6rem 0;
  }
  .detail-actors {
    font-size: 0.9rem;
    margin: 0rem 0.4rem 0rem 0.4rem;
    width: 22rem;
  }
  .detail-poster {
    height: 27rem;
    margin: 0.6rem 0 0rem 0;
    width: 22rem;
  }
  .detail-plot {
    margin: 0 0 0.2 0;
    text-align: center;
    width: 22rem;
  }
  .detail-info {
    margin: 0.6rem 0 0.6rem 0;
    width: 23rem;
  }
  .detail-info__tags {
    border: 1px solid lighten($off-black, 15%);
    border-radius: 0.8rem;
    font-size: 0.7rem;
    margin: 0 0.4rem 0 0.4rem;
    padding: 0.2rem;
    height: 2.3rem;
    width: 6.2rem;
  }
  .detail-rating {
    color: $warm-yellow;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0.6rem 0 1.1rem 0;
  }
}

//////////////////////////////////////////////////

@media (max-width: 600px) {
 .database {
   font-size: 0.9rem;
   padding: 0.4rem 0 0.4rem 0; //    width: 50rem;
 }

 .database__header {
   background-color: darken($dark-grey, 6%);
   border-bottom: 1px solid lighten($dark-grey, 20%);
   color: $warm-yellow;
   display: flex; //   justify-content: space-between;
   font-size: 0.8rem;
   margin: 0 0.8rem 0 0.8rem; //  max-width: 24rem;
   padding: 0.6rem 0 0.6rem 0;
 }

 .database__info {
   font-size: 0.9rem;
 }

 .database__title {
   width: 12rem;
 }

 .database__year {
   width: 2rem;
 }

 .database__director {
   text-align: left;
   width: 8rem;
 }
}