#app {}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.preview {
  align-content: center;
  align-items: center;
  background-color: $dark-grey;
  border-bottom: 1px solid lighten($off-black, 10%);
  color: white;
  display: flex;
  flex-flow: row nowrap;
  font-family: "Lato", "Arial";
  font-size: 1.2rem;
  height: 100%;
  justify-content: space-between;
  margin: 0 0.1rem 0.1rem 0.1rem;
//  width: 100%;
}

.preview-info {
  display: flex;
  flex-flow: column wrap;
}

.preview-title {
 // font-family: "Shrikhand";
  font-size: 1.2rem;
 // color: $warm-yellow;
  margin: 0.4rem 1rem 0.4 1rem;
//  text-align: left;
}

.preview-subtitle {
  font-size: 1rem;
  color: lighten($dark-grey, 60%);
  margin: 0.4rem 0 0.4rem 0;
}

.preview-poster {
  align-items: center;
  background-color: lighten($off-black, 1%);
  color: lighten($off-black, 60%);
  font-size: 0.6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
//  margin: 1rem 0 1rem 0;
  width: 4rem;
}

.preview-button {
  background-color: $off-red;
  border: none;
  color: white;
  font-size: 1.4rem;
  height: 3rem;
  margin: 0 0 0 0;
  width: 3rem;
}

.preview-button:active {
  background-color: darken($off-red, 20%);
}


// Mobile style
@media (max-width: $small-screen) {
  #app {
    width: 23rem;
  }

  .preview {
    font-size: 0.8rem;
 //   width: 23rem;
  }

  .preview-title {
    font-size: 1rem;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  }

  .preview-subtitle {
    font-size: 0.8rem;
    margin: 0.1rem 0 0.1rem 0;
  }

  .preview-poster {
    flex: 0 0 3rem;
    height: 5rem;
    margin: 0 0 0 0;
    width: 3rem;
  }

  .preview-button {
    font-size: 1.2rem;
    height: 2.4rem;
    margin: 0 0 0 0;
    padding: 0;
    width: 2.4rem;
  }

}
