#app {}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.preview {
  align-content: center;
  align-items: center;
  background-color: $off-black;
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-family: "Lato", "Arial";
  font-size: 1.2rem;
  height: 100%;
  justify-content: center;
}

.preview-info {
  display: flex;
  flex-flow: column wrap;
}

.preview-title {
  font-family: "Shrikhand";
  font-size: 3rem;
  color: $warm-yellow;
  margin: 1rem 1rem 0 1rem;
}

.preview-subtitle {
  font-size: 1.4rem;
  color: lighten($dark-grey, 60%);
  margin: 1rem 0 1rem 0;
}

.preview-actors {
  color: lighten($dark-grey, 60%);
  font-size: 1.2rem;
}

.preview-poster {
  align-items: center;
  background-color: lighten($off-black, 3%);
  color: lighten($off-black, 30%);
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.preview-plot {
  color: lighten($dark-grey, 60%); //  font-family: 'Arial';
  margin: 1.4rem 0 1.4rem 0;
  text-align: center;
  width: 40em;
}

.preview-info {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1.2rem 0 3rem 0;
  width: 60rem;
}

.preview-info__tags {
  align-items: center;
  background-color: black;
  border: 1px solid lighten($off-black, 10%);
  border-radius: 0.8rem;
  color: white;
  display: flex;
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  padding: 0.2rem;
  height: 2.2rem;
  width: 10rem;
}

.preview-rating {
  color: $warm-yellow;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0 2rem 0;
}

.preview-buttons {
  display: flex;
  flex: row nowrap;
  justify-content: center;
  margin: 0 0.2rem 0 0.2rem;
}

.preview-button {
  background-color: $off-red;
  border: none;
  color: white;
  font-size: 2rem;
  height: 3rem;
  margin: 0 0.2rem 1.2rem 0.2rem;
  width: 10rem;
}

// Mobile style
@media (max-width: $small-screen) {
  #app {
    width: 23rem;
  }

  .preview {
    font-size: 0.8rem;
    width: 23rem;
  }

  .preview-title {
    font-size: 1.8rem;
    margin: 0.3rem 0.4rem 0rem 0.4rem;
  }

  .preview-subtitle {
    font-size: 1rem;
    margin: 0 0 0 0;
  }

  .preview-poster {
    height: 21rem;
    margin: 0.6rem 0 0 0;
    width: 15rem;
  }

  .preview-rating {
    color: $warm-yellow;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0rem 0 1rem 0;
  }

  .preview-button {
    font-size: 1.8rem;
    height: 2.4rem;
    margin: 1rem 0.1rem 1.4rem 0.1rem;
    padding: 0;
    width: 9rem;
  }

}
