* {
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0 auto;
}

.flex-body {
  //   align-content: center;
  //   align-items: center;
  background-color: $off-black;
  color: white;
  display: flex;
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 1.2rem;
  height: 100%;
  justify-content: center;
  overflow: auto;
  position: fixed;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.title {
  font-family: "Shrikhand";
  font-size: 4.5rem;
  color: $warm-yellow;
  margin: 1.4rem 0 0 0;
}

.subtitle {
  font-family: "Pacifico", cursive;
  font-size: 1.6rem;
  color: #999999;
  margin: 0 0 2rem 0;
}

.menu {
  display: flex;
  color: lighten($dark-grey, 60%);
  height: 3rem;
  justify-content: space-evenly;
  margin: 0.8rem 0.8rem 0 0.8rem;
}

.menu-item {
  align-items: center;
  background-color: $dark-grey;
  border: 1px solid $off-black;
  display: flex;
  //  height: 100%;
  justify-content: center;
  width: 100%;
}

.button-back {
  align-items: center;
  background-color: $off-red;
  border: none;
  color: white;
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  justify-content: center;
  height: 3rem;
  margin: 0 0 1.2rem 0;
  width: 10rem;
}

.sort-button {
  background: none;
  color: $warm-yellow;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 100%;
  text-align: left;
  width: 100%;
}

.sort-button:hover {
  background-color: lighten($off-black, 20%);
}

/////////////////////////////////////////////////////////

@media (max-width: 600px) {
  #app {
    width: 375px;
  }

  .title {
    font-size: 3rem;
    margin: 0.2rem 0 0 0;
  }
  .subtitle {
    font-size: 1.2rem;
    margin: 0 0 0.8rem 0;
  }
  .menu {
    color: lighten($dark-grey, 60%);
    display: flex;
    font-size: 0.9rem;
    height: 2rem;
    justify-content: space-evenly;
  }
 
  .button-back {
    font-size: 1.2rem;
    height: 2.4rem;
    margin: 1rem 0 1.2rem 0;
    width: 10rem;
  }

}