@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Pacifico|Lobster|Shrikhand|Montserrat|Bangers|Lato");
//colors
$background: #232223;
$teal: #077ba1;
$orange: #ff9900;
$dark-orange: rgb(214, 130, 5);
$red: rgb(221, 49, 49);

//Akaru Cool vs. Warm
$navy-blue: #18121E;
$gunmetal: #233237;
$rusty-red: #984B43;
$warm-yellow: #EAC67A;

//Sofasurfer is now Digitallabs
$white: #ffffff;
$off-red: #A2482E;
$light-grey: #B7B7B6;
$dark-grey: darken( #686766, 24%);
$off-black: #141311;






































